{% extends "authentication/base.html" %} 

{% block body %}

    <div class="flex flex-col items-center justify-center h-screen">
        
        <div>
            <h1 class="text-transparent text-6xl bg-clip-text bg-gradient-to-r from-indigo-400 to-pink-400 tracking-wider p-4">Welcome to Infinity</h1>   
        </div>

        <div>
            <h2 class="text-gray-600 p-4 font-semibold">A New Infinity Chapter</h2>
        </div>

        <div>
            <a href="{% url 'login' %}" class="block text-gray-600 p-4 underline underline-offset-4">Please Login</a>
        </div>

    </div>


{% endblock %}